@charset "UTF-8";
@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf), format(opentype);
}
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

strong {
    color: #2a8b56;
}

body {
    margin: 0px;
    font: normal normal 16px Arial, helvetica, 'sans-serif';
    background-color: #5bd893;
}

body > header {
    padding-left: 30px;
    padding-top: 40px;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(to bottom, #3CDC83, #14492C);
    color: white;
}

header > h1 {
    margin: 0px;
    font: normal normal 3em "Bebas Neue";
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.514);
}

header > p {
    font: normal bold 1em Arial;
    margin-bottom: 40px;
}

header > nav {
    text-align: left;
    margin-top: 20px;
}

header > nav > article {
    display: inline-block;
    padding: 8px;
    border-radius: 5px 5px 0px 0px;
    margin-right: 30px;
    height: 20px;
    text-align: center;
    transition-duration: .5;
}

header > nav > article:hover {
    background-color: #5bb684;
}

header > nav > article:hover > a {
    color: #14492C;
}

header > nav > article > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: white;
    padding-top: 20px;
    margin: auto;
    max-width: 900px;
    min-width: 320px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 1px 9px rgba(0, 0, 0, 0.541);
}

main > * {
    margin: 20px;
}

main > h1 {
    font: normal bold 2em 'android', 'serif';
    color: #14492C;
    margin: 20px;
}

main > h2 {
    background-image: linear-gradient(to right, #2a8b562d, white);
    margin: 20px;
    color: #14492C;
    font-family: 'android';
    text-indent: 10px;
}

main > p {
    margin: 20px;
    text-indent: 20px;
    text-align: justify;
}

main > p > a:hover {
    text-decoration: underline #14492C;
}

main > p > a::after {
    content: '🔗';
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
    width: 95%;
}

#bugdroid {
    min-width: 400px;
    max-width: 500px;
}

main > article {
    background-color: #14492C;
    margin: 0px;
}

.fim {
    padding-bottom: 40px;
}

#citacao {
    background-color: #3cdc8473;
    width: 90%;
    margin: 15px auto;
    border-radius: 15px;
}

main > article > header {
    background-color: #3d8f62;
    height: 30px;
    font: normal bold 20px Arial;
    color: white;
    padding-top: 10px;
    text-indent: 20px;
    border-radius: 15px  15px 0px 0px;
}

#video {
    display: block;
    padding: 50px 0px;
    margin: auto;
    width: 90%;
    height: 26vw;
}

article > p {
    margin: 10px;
    text-indent: 15px;
    text-align: justify;
}

ul {
    display: inline-block;
    width: 30vw;
}

ul > abbr {
    text-decoration: none;
}

ul > abbr:hover {
    background-image: linear-gradient(to left, transparent, #14492c54, transparent);
}

ul > abbr::before {
    content: '✔️';
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer {
    background-color: #14492C;
    text-align: center;
    padding: 10px;
    color: white;
}

span {
    text-decoration: underline;
}